#about {
    padding-bottom: 2em;
}

#bio-accordion {
    width: 100%;
    width: 500px;
    padding: 0 1rem;
}



.bio-btn {
    /* margin: .3rem 1rem .3rem 0; */
    border: #003459 solid 3px;
    padding: .5rem 0;
    opacity: .6;
    /* min-width: 210px; */
    text-align: center;
    background-color: #003459;
    color: #f8edeb;
    border: #f8edeb solid 2px;
    cursor: pointer;
    transition: .2s ease-in-out all;
}
.bio-btn:hover, .bio-btn.active {

    /* border: #003459 solid 1px; */
   
    /* background-color: #f8edeb;
    color: #003459; */
    opacity: 1;
    
}

.bio-section {
    display: none;
}

.about-text {

    max-width: 100%;
    overflow-y: scroll;
    /* border: green solid 1px; */
    margin-top: 1rem;
    height: 300px;

}

#photo-section {
    margin-top: 1rem;
    
}
#photo-section img {
    
    max-width: 350px;
border-radius: 20px;
}

