html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@font-face {
  font-family: "Chivo";
  src: url("../fonts/Chivo-Medium.ttf");
}

@font-face {
  font-family: "Crimson Text";
  src: url("../fonts/CrimsonText-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Medium.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}

:root {
  --font1: "Chivo", sans-serif;
  --font2: "Crimson Text", sans-serif;
  --font3: "Poppins", sans-serif;
  --font4: "Raleway", sans-serif;
  --font5: "Roboto", sans-serif;
}

:root {
  --dark-blue: #003459;
  --off-white: #f7ede2;
  --link-color: #4a4e69;
  --background-color: rgba(202, 240, 248, 0.7);
  --main-gradiant-1: rgb(0, 52, 89);
  --main-gradiant-2: linear-gradient(
    60deg,
    rgba(0, 52, 89, 1) 40%,
    rgba(43, 72, 80, 1) 100%
  );

  background: rgb(51, 80, 61);
  background: linear-gradient(
    25deg,
    rgba(51, 80, 61, 1) 7%,
    rgba(0, 52, 89, 1) 56%,
    rgba(51, 80, 61, 1) 84%
  );
  /* --2nd-gradiant-1:  rgb(248,247,255);
--2nd-gradiant-2:  linear-gradient(77deg, rgba(248,247,255,1) 22%, rgba(254,250,224,1) 66%, rgba(233,236,239,1) 89%); */
  /* --2nd-gradiant-1:  rgb(237,247,239);
--2nd-gradiant-2:  linear-gradient(77deg, rgba(237,247,239,1) 18%, rgba(225,237,251,1) 48%, rgba(221,233,255,1) 59%, rgba(251,240,255,1) 82%); */
  --2nd-gradiant-1: rgb(237, 247, 239);
  --2nd-gradiant-2: linear-gradient(
    339deg,
    rgba(237, 247, 239, 1) 12%,
    rgba(225, 237, 251, 1) 27%,
    rgba(223, 231, 253, 1) 44%,
    rgba(221, 222, 255, 1) 65%,
    rgba(240, 251, 255, 1) 80%
  );
}

body {
  font-family: var(--font3);
  letter-spacing: 0.3em;
  position: relative;

  max-width: 100vw;
  color: var(--dark-blue);
  /* background-color: var(--dark-blue); */
  /* background: var(--main-gradiant-1);
    background: var(--main-gradiant-2); */
  overflow-x: hidden;
  overflow-y: none;
}

.no-scroll {
  overflow: hidden;
}

.display-5 {
  font-family: var(--font1);
}

.custom-popover {
  --bs-popover-border-color: var(--dark-blue);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: 0.1rem;
  --bs-popover-body-margin: 0.5rem;
  --bs-popover-body-z-index: 0;
}

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}

/* #main {
    opacity: 0;
    display: none;
    transition: opacity 1.5s ease-in;
} */

/* scrollbar style change */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar:hover {
  cursor: auto;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  border-radius: 22px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 22px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#main {
  overflow-x: hidden;
}

.nav-item {
  font-family: var(--font5);
}



.banner-image {
  width: 100%;
  height: 100vh;
  background-image: url("../img/photo5.webp");
  background-size: cover;
  background-position: center;
}


.main-text {
  font-family: "Caveat", cursive;
}

/* more box */
.main-btn {
  margin-top: 3rem;
  transition: 0.5s;
  padding: 0;

}

.main-btn:hover {
  border: none;
}

/* popover css */
#tooltip {
  background: transparent;
  color: var(--dark-blue);
  border: var(--dark-blue) solid 2px;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 1rem;
  border-radius: 4px;
  display: none;
  margin-top: 1rem;
  font-family: var(--font1);
}

#tooltip[data-show] {
  display: block;
}

@media screen and (min-width: 768px) {
  #tooltip {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 992px) {
  #tooltip {
    font-size: 1.4rem;
  }
}

.main-btn i {
  font-size: 3rem;
  color: var(--dark-blue);
  opacity: 1;
  transition: 0.25s ease-in-out all;
}

.main-btn i:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .main-btn i {
    font-size: 4rem;
  }
}

.background-1 {
  background: var(--2nd-gradiant-1);
  background: var(--2nd-gradiant-2);
  color: var(--dark-blue);

  /* margin: 2rem 0; */
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.background-2 {
  /* background-color: var(--dark-blue); */
  background: var(--main-gradiant-1);
  background: var(--main-gradiant-2);
  color: var(--off-white);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#footer {
  padding-top: 2em;
  padding-bottom: 1em;
}

.footer-container ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 0;
}

.footer-container ul li {
  list-style: none;
  margin: 0 1.3em;
}

.footer-container ul li a {
  text-decoration: none;
  color: var(--dark-blue);
  transition: all 0.25s ease-in-out;
  opacity: 0.5;
}

.footer-container ul li a:hover {
  opacity: 1;
  text-decoration: underline;
}

.port-code {
  text-decoration: none;
  color: #9a031e;
  transition: all 250ms ease-in-out;
  opacity: 0.5;
}

.port-code:hover {
  opacity: 1;
  color: #0f4c5c;
  text-decoration: underline;
}

/* .about-container .row:nth-of-type(1) {
    flex-direction: column-reverse;
} */

@media (max-width: 1200px) {
  .bio-container {
    width: 80%;
  }
}

@media (max-width: 992px) {
  #myCarousel {
    width: 100%;
  }

  .bio-container {
    padding: 0;
    width: 100%;
    font-size: 0.9rem;
  }

  .display-5 {
    font-size: 1.9rem !important;
  }

  .footer-container {
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .display-5 {
    font-size: 1.8rem !important;
  }
}

@media (max-width: 576px) {
  .bio-container {
    padding: 0;
    width: 100%;
    font-size: 0.8rem;
  }

  #myCarousel {
    width: 70%;
  }

  .display-5 {
    font-size: 1.6rem !important;
    text-align: center;
  }

  .about-container {
    margin-top: -20px;
  }

  .footer-container {
    font-size: 0.6rem;
    padding-bottom: 1rem;
  }

  .footer-container p,
  .footer-container ul {
    margin: 0.1rem 0;
  }

  .bio-container {
    padding: 0;
    width: 100%;
    font-size: 0.7rem;
  }
}

@media (max-width: 430px) {
  .footer-container {
    font-size: 0.6rem;
  }

  .footer-container ul {
    display: none;
  }

  .footer-container p {
    margin-bottom: 0;
  }
}

@media (max-width: 345px) {
  .footer-container {
    font-size: 0.3rem;
  }
}
