#projects {
    padding-top: 3rem;
    padding-bottom: 9em;

}

.projects-main {
    margin-top: 4em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* border: red solid 1px; */
}

#projects h4 {
    letter-spacing: 0;
}

.project-item {
    /* max-width: 400px; */
    /* margin-bottom: 2rem; */
    /* border: yellow solid 1px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    /* border: black solid 1px; */
    margin-bottom: 2rem;
    max-width: 350px;
    /* width: 100%;
    height: 100%; */
}

/* @media screen and (min-width: 450px) {
    .project-item {
        padding: 1rem;
        margin-bottom: 1rem;
    }
} */
.images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    /* -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.48);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.48); */
    transition: all .5s;
    /* transform: scale(1.2); */
    border: #003459 solid 2px;
    height: 300px;
    box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.36);
}

.project-svgs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

.project-svgs img {
    width: 40px;
    height: 40px;
    margin: 0 1em;
}

.images img {
    width: 100%;
    height: 100%;
}

.images:hover {
    transform: scale(1.2);
    border-radius: 0;
    z-index: 20;
}

.image-overlay {
    font-size: 1.2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s;
    z-index: 10;
    padding: .3rem;
}

.image-overlay-blur {
    backdrop-filter: blur(5px);
}

.image-overlay>* {
    transform: translateY(20px);
    transition: transform 0.5s;
}

.image-overlay:hover {
    opacity: 1;
    border-radius: 0;
}

.image-overlay:hover {
    opacity: 1;
    border-radius: 0;
}

.image-overlay h4,
.image-overlay p,
.image-overlay button,
.image-overlay .code-links{
    margin: .3rem 0;
}
.image-overlay h4, 
.image-overlay p{
    padding: 0 .2rem;
}


.image-overlay:hover>* {
    transform: translateY(0);
}

.image-description {
    line-height: 15px;
    letter-spacing: 2px;
    /* max-width: 75%; */
    font-size: .85rem;
    margin-bottom: 0;
}

.image-title {
    line-height: 19px;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: .25em;

    text-align: center;
    margin-bottom: 0;
}

.project-description-btn {
    font-size: .55em;
    margin: 0rem;
    letter-spacing: .15em;

    opacity: 100;
    background-color: transparent;
    color: white;
    padding: .2rem 1rem;
    border: white solid 2px;
    transition: all .25s ease-in-out;
}

.project-description-btn:hover {
    background-color: white;
    color: black;
    border: white solid 2px;
}

.btn-style {
    border: white solid 2px;
    width: 80px;
    height: 25x;
}

.images a {
    text-decoration: none;
    color: white;
}

.hover-wrapper {
    height: 60px;
}

.hover-wrapper a {
    text-decoration: none;
    color: inherit;
    position: relative;
    top: 1rem;
}

.code-links {
    position: relative;
    /* top: 1rem; */
}


.hover-wrapper svg {
    width: 13px;
    height: 13px;
}

.wrapper-2 {
    /* margin-top: 33px; */
    /* margin-left: 8px; */
}

.cta {
    position: relative;
    margin: auto;
    padding: 15px 22px;
    transition: all 0.2s ease;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgb(173, 216, 230, .5);
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-size: .75em;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: white;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    margin-top: 12px;
    width: 100%;
    height: 35px;
    background: rgb(173, 216, 230, 1);
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.96);
}

.svg-size {
    width: 20px;
    height: 20px;
}

.project-info {
    height: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 30;
    overflow-y: auto;
    opacity: 0;
    transition: all 500ms ease-in-out;
}

.project-info-wrap {
    color: black;
    font-size: 1rem;
    height: 100%;
    /* width: 80%; */
    /* margin: 0 auto; */
    padding-left: 1.8em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.blackjack-github {
    position: relative;
    bottom: 2rem;
}

.bio-text {
    margin-top: 2rem;
    height: 100%;
    width: 100%;
    overflow: scroll;

}

.project-info-wrap h5 {
    text-align: center;
}

.project-info-wrap p {
    padding-right: 1em;
}

.project-info-wrap h5,
.project-info-wrap p {
    letter-spacing: 1px;
    margin-bottom: 0;
}

.project-info-appear {
    opacity: 100;
    height: 100%;
}

.project-info-remove {
    opacity: 0;
    height: 0;
}

.close-project-bio {
    position: absolute;
    top: .2rem;
    left: .2rem;
}

.close-project-bio img {
    cursor: pointer;
    border: white solid 1px;
    border-radius: 50%;
    transition: .2s ease-in-out all;
}

.close-project-bio img:hover {

    border: black solid 1px;

}

@media screen and (min-width: 962px) {
    .image-title {
        font-size: 1.2em;
    }
}