#about {
    padding-bottom: 2em;
}

#bio-accordion {
    width: 100%;
    width: 500px;
    padding: 0 1rem;
}

#photo-section ,
#personal-info-section{
/* width: 100%; */
min-height: 500px;
/* border: red solid 1px; */
}

.bio-btn {
    margin: .3rem 1rem .3rem 0;
    border: #003459 solid 3px;
    padding: .5rem 0;
    min-width: 210px;
    text-align: center;
    background-color: #003459;
    color: white;
    cursor: pointer;
    transition: .2s ease-in-out all;
}
.bio-btn:hover, .bio-btn.active {

    /* border: #003459 solid 1px; */
   
    background-color: #f8edeb;
    color: #003459;
    
}

.bio-section {
    display: none;
}

.about-text {
    max-width: 100%;
    overflow: scroll;
    /* border: green solid 1px; */
    margin: 1rem;

}

#photo-section img {
    min-height: 550px;
}

#personal-info-section {
    height: 550px;
}